.comment-card__fieldset {
  border: none;
}

.comment-card__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: @text;
  margin: 0;
  padding: 0;
}

.comment-card__text {
  width: 279px;
  background-color: @input;
  color: @text;
  border: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.comment-card__button {
  margin: 51px 0 48px 0;
  padding: 19px 33px 14px 32px;
}
