.estimate-list {
  list-style: none;
  margin: 0;
  padding: 20px 0 28px 0;
  line-height: 43px;
}

.estimate-list__item {
  margin: 0;
  overflow: visible;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
  width: 280px;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .estimate-list__item {
    margin-bottom: 20px;
  }
}

@media (min-width: @desktop-width) {
  .estimate-list__item {
    width: 400px;
  }
}

.estimate-list__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  color: @text;
  padding-left: 80px;
  margin-bottom: 35px;
}
