.landmarks-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .landmarks-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 90px;
    box-sizing: border-box;
  }
}

@media (min-width: @desktop-width) {
  .landmarks-list {
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-left: 0;
    margin-bottom: 8px;
  }
}

.landmarks-list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  box-sizing: border-box;
  overflow: visible;
  margin-bottom: 26px;
}

@media (min-width: @tablet-width) {
  .landmarks-list__item {
    max-width: 240px;
  }

  .landmarks-list__item:first-child {
    margin-bottom: 35px;
  }

  .landmarks-list__item:nth-child(3) {
    margin-bottom: 35px;
  }
}

@media (min-width: @desktop-width) {
  .landmarks-list__item {
    width: 250px;
  }
}

.landmarks-list__item:last-child {
  margin-bottom: 5px;
}

.landmarks-list__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  color: @text;
  padding-left: 80px;
  margin-bottom: 35px;
  position: relative;
  cursor: pointer;
}

.landmarks-list__input + label::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 55px;
  height: 55px;
  background-color: @input;
  border-radius: 5px;
  cursor: pointer;
}

.landmarks-list__input:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 18px;
  width: 20px;
  height: 12px;
  box-sizing: border-box;
  border-bottom: 3px solid @main-text;
  border-left: 3px solid @main-text;
  transform: rotate(-45deg);
}

.landmarks-list__input:hover + label::before,
.landmarks-list__input:focus + label::before {
  background-color: @border;
}

.landmarks-list__input:active + label::before {
  background-color: @border-focus;
}

.landmarks-list__input:checked:hover + label::before,
.landmarks-list__input:checked:focus + label::before {
  background-color: @border;
}

.landmarks-list__input:checked:active + label::before {
  background-color: @border-focus;
}
