.main-header {
  margin: 0;
  padding: 0;
  color: @main-text;
}

.main-header__image {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% -56px;
  min-height: 158px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/bg-tablet.jpg");
    min-height: 290px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/bg-desktop.jpg");
    min-height: 300px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-desktop@2x.jpg");
    }
  }
}

.main-header__image--special {
  background-image: url("../img/bg-spec.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  min-height: 389px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-spec@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/bg-tablet-spec.jpg");
    min-height: 518px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-tablet-spec@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/bg-desktop-spec.jpg");
    min-height: 518px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-desktop-spec@2x.jpg");
    }
  }
}

.main-header__wrapper {
  text-align: center;
  padding-top: 25px;
  color: @text;

  @media (min-width: @tablet-width) {
    max-width: 540px;
    margin: 0 auto;
    padding-top: 33px;
    padding-bottom: 45px;
  }
}

.main-header__wrapper--add {
  padding-left: 7px;
  padding-right: 7px;

  @media (min-width: @tablet-width) {
    padding-top: 50px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 30px;
  }
}

.main-header__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: @text;
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.main-header__title--add {
  font-size: 18px;
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.main-header__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 5px;
}

.main-header__subtitle--add {
  line-height: 26px;
}
