.main-header {
  margin: 0;
  padding: 0;
  color: @main-text;
}

.main-header__image {
  background-image: url("../img/welcome-form.jpg");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 389px;
  background-color: lightblue; //временно
}

.main-header__wrapper {
  text-align: center;
  padding-top: 25px;
  color: @text;

  @media (min-width: @tablet-width) {
    max-width: 540px;
    margin: 0 auto;
    padding-top: 33px;
    padding-bottom: 45px;
  }
}

.main-header__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: @text;
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.main-header__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: block;
  margin-bottom: 5px;
}
