.name-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.name-list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  width: 280px;
  box-sizing: border-box;
  overflow: hidden;
}

@media (min-width: @desktop-width) {
  .name-list__item {
    width: 400px;
  }
}

.name-list__label {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: @main-text;
  margin-right: 10px;
}

.name-list__input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: @text;
  background: @input;
  border: none;
  box-sizing: border-box;
  padding: 17px;
  margin: 0;
  flex-grow: 1;
  overflow: visible;
  outline: none;

  &:hover {
    background-color: @border;
  }

  &:focus {
    background-color: @body-background;
    border: 4px solid @border;
    padding: 13px;
  }
}
