.page-footer__hashtag a {
  display: block;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: @text;
  text-decoration: none;
  margin-bottom: 32px;
}

.page-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 35px 20px 20px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 35px 60px;
  }

  .page-footer__hashtag a {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-left: 85px;
  }

  .page-footer__hashtag a {
    margin-bottom: 0;
  }

  .page-footer__social {
    padding-right: 85px;
  }
}
