.search-hotel {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.search-hotel__title {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-top: 23px;
}

.search-hotel__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 38px;
}

.search-hotel__button {
  display: block;
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
  width: 100%;
  min-height: 58px;
  margin-bottom: 48px;
}


@media (min-width: @tablet-width) {
  .search-hotel {
    padding-top: 35px;
  }

  .search-hotel__button {
    padding: 15px 121px 18px 121px;
    margin-bottom: 55px;
    max-width: 455px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }

  .search-hotel__title {
    font-size: 30px;
  }

  .search-hotel__text {
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 455px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: @desktop-width) {
  .search-hotel__text {
    padding-bottom: 10px;
  }

  .search-hotel__button {
    margin-bottom: 65px;
  }
}
