.video {
  margin-top: 30px;
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .video {
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 20px;
  }
}

@media (min-width: @desktop-width) {
  .video {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 85px;
  }
}

.video__tools {
  position: relative;
  margin: 0 20px;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  background-color: @input;
  width: 280px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.video__replay {
  width: 16px;
  height: 20px;
}

.video__slider {
  width: 280px;
  height: 45px;
  background-color: @slider;
  position: absolute;
  top: -45px;
  left: 0;
  box-sizing: border-box;
  padding-top: 22px;
  padding-left: 22px;
}

.video__bar {
  position: absolute;
  width: 235px;
  height: 3px;
  background-color: @body-background;
  top: 22px;
  left: 22px;
  opacity: 0.2;
}

.video__pull {
  position: absolute;
  width: 13px;
  height: 13px;
  left: 76px;
  background-color: @body-background;
  top: 18px;
  border-radius: 50%;
}
