img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: @text;
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.button {
  color: @special-text;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: @blue;
  border: none;
  text-transform: uppercase;
}

.intro {
  line-height: 24px;
}

input::-webkit-input-placeholder {
  color: @text;
}

textarea::-webkit-input-placeholder {
  color: @text;
}
