// Colors
@body-background: #ffffff;
@main-text: #333333;
@text: #000000;
@special-text: #ffffff;
@blue: #81B3D2;
@grey: #eeeeee;
@input: #F2F2F2;
@border: #E5E5E5;
@slider: rgba(0, 0, 0, 1);

// Viewports

@tablet-width: 768px;
@desktop-width: 1280px;
